In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

LableEncoding :

In [3]:
#LabelEncoder
from sklearn.preprocessing import LabelEncoder

#Example : Education levels
education_level = ['High School', 'Bachelor', 'Master', 'PhD']

le = LabelEncoder()
encoded_level = le.fit_transform(education_level)

print('Original levels :', education_level)
print('Encoded levels :', encoded_level)

Original levels : ['High School', 'Bachelor', 'Master', 'PhD']
Encoded levels : [1 0 2 3]

OrdinalEncoding :

In [4]:
#OrdinalEncoder
from sklearn.preprocessing import OrdinalEncoder

#Example: Multiple ordinal features
data = [
    ['Low', 'Warm', 'Fast'],
    ['Medium', 'Cold', 'Slow'],
    ['High', 'Hot', 'Meduim']
]

oe = OrdinalEncoder()
encoded_data = oe.fit_transform(data)

print('Encode Data :', encoded_data)

Encode Data : [[1. 2. 0.]
 [2. 0. 2.]
 [0. 1. 1.]]

OneHotEncoding :

In [8]:
#One Hot Encoding
from sklearn.preprocessing import OneHotEncoder

#Sample Data
data = pd.DataFrame({'Color': ['Red', 'Green', 'Blue', 'Red', 'Green']})

#Initialize and fit the OneHotEncoder
encoder = OneHotEncoder(sparse_output=False)
encoded_data = encoder.fit_transform(data[['Color']])

#Create a DataFrame with the encoded data
encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(['Color']))

print(encoded_df)

   Color_Blue  Color_Green  Color_Red
0         0.0          0.0        1.0
1         0.0          1.0        0.0
2         1.0          0.0        0.0
3         0.0          0.0        1.0
4         0.0          1.0        0.0

Frequency Encoding :

In [12]:
#Frequency Encoding


#Sample data
np.random.seed(0)
data = pd.DataFrame({
    'Product': ['Laptop'] * 20 + ['Phone'] * 30 + ['Tablet'] * 10 + ['Smartwatch'] * 40,
    'Sales': np.random.normal(loc=100, scale=20, size=100)
})
data

       Product       Sales
0       Laptop  135.281047
1       Laptop  108.003144
2       Laptop  119.574760
3       Laptop  144.817864
4       Laptop  137.351160
..         ...         ...
95  Smartwatch  114.131463
96  Smartwatch  100.210000
97  Smartwatch  135.717410
98  Smartwatch  102.538242
99  Smartwatch  108.039787

[100 rows x 2 columns]

In [13]:
data.Product.value_counts()

Product
Smartwatch    40
Phone         30
Laptop        20
Tablet        10
Name: count, dtype: int64

In [16]:
#Calculate Frequency encoding
freq_encoding = data['Product'].value_counts() / len(data)
freq_encoding

Product
Smartwatch    0.4
Phone         0.3
Laptop        0.2
Tablet        0.1
Name: count, dtype: float64

In [17]:
data['Product_freq_encoding'] = data['Product'].map(freq_encoding)
data

       Product       Sales  Product_freq_encoding
0       Laptop  135.281047                    0.2
1       Laptop  108.003144                    0.2
2       Laptop  119.574760                    0.2
3       Laptop  144.817864                    0.2
4       Laptop  137.351160                    0.2
..         ...         ...                    ...
95  Smartwatch  114.131463                    0.4
96  Smartwatch  100.210000                    0.4
97  Smartwatch  135.717410                    0.4
98  Smartwatch  102.538242                    0.4
99  Smartwatch  108.039787                    0.4

[100 rows x 3 columns]